<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Hello
	link(href="/css/main.css" rel="stylesheet")
	link(href="/bootstrap/bootstrap.css" rel="stylesheet") 
body
	.container
		ul.menu
			li
				a(href="/") Home
			li
				a(href="/about") About
			li.reg
			if (currentUser)
				li
					span= currentUser.username
				li
					form#logout-form(method="post" action="/users/logout")
					a(href="javascript:document.getElementById('logout-form').submit()") Logout
			else
				li
					a(href="/users/register") Register
				li
					a(href="/users/login") Log In
		if (globalError)
			h3=globalError
		block main-content	

			
	