extends ../_layout
block main-content
	h1 Create new user
	form(method="post" action="/users/create")
		.row
			.col-xs-3.text
				label(for="username") Username
				input.form-control(type="text" name="username" id="username" value=username)
				label(for="password") Password
				input.form-control(type="password" name="password" id="password")
				label(for="confirm-password") Confrim Password
				input.form-control(type="password" name="confirmPassword" id="confirm-password")
				label(for="first-name") First Name
				input.form-control(type="text" name="firstName" id="first-name" value=firstName)
				label(for="last-name") Last Name
				input.form-control(type="text" name="lastName" id="first-name" value=lastName)
				button.btn.btn-success Create	
			

